{# Autor: Adriana Nicole Guzman Ahuatzi #}
{#05/03/2026#}
{# Descripción: Página de inicio de sesión del sistema AVT. Permite autenticarse con
   usuario y contraseña, y acceder al formulario de registro externo SIRED. #}
<!DOCTYPE html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css', v=1) }}">
</head>

<body>

    <div class="left">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='img/byteers_logo.png') }}" alt="Byteers Logo" class="byteers">
            <img src="{{ url_for('static', filename='img/logoAVT_vector.png') }}" class="logo-avt">
        </div>
    </div>

    <div class="right">
        <img src="{{ url_for('static', filename='img/byteers_logo.png') }}" alt="Byteers Logo" class="avt-mobile">
        <div class="login-card">
            <img src="{{ url_for('static', filename='img/fmvb_logo.jpg') }}" alt="FMVB Logo" class="fmvv">
            <img src="{{ url_for('static', filename='img/logoAVT_vector.png') }}" class="avt-mobile">
            <div class="card-logos-mobile">
                <img src="{{ url_for('static', filename='img/logoAVT_vector.png') }}" alt="AVT Logo" class="avt-mobile">
                <img src="{{ url_for('static', filename='img/fmvb_logo.jpg') }}" alt="FMVB Logo" class="fmvv">
            </div>
            <h1>¡Bienvenido de nuevo!</h1>
            <form method="POST" action="{{ url_for('auth.iniciarSesion') }}">
                <input type="text" name="nombreUsuario" placeholder="Nombre de usuario" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <button type="submit">Iniciar sesión</button>

            </form>
           
            <div class="forgot">
                <a href="{{ url_for('auth.accesoExterno') }}">Llenado de formato SIRED</a>
            </div>
        </div>
    </div>

</body>

</html>