<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio de sesión</title>

    <!-- AQUÍ LLAMAS TU CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>

<div class="login-wrapper">

    <!-- LADO IZQUIERDO -->
    <div class="left">
        <img src="{{ url_for('static', filename='img/logoAVT_vector.png') }}" 
             class="logo-avt" 
             alt="Logo AVT">
    </div>

    <!-- LADO DERECHO -->
    <div class="right">
        <img src="{{ url_for('static', filename='img/fmvb_logo.jpg') }}" 
             class="fmvb" 
             alt="Logo FMVB">

        <h1>¡Bienvenido de nuevo!</h1>

        <form method="POST" action="{{ url_for('auth.iniciarSesion') }}">
            <input type="email" name="email" placeholder="Correo electrónico" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Iniciar sesión</button>
        </form>

        <div class="links">
            <a href="{{ url_for('auth.recordarContrasena') }}">Recordar contraseña</a>
            <a href="{{ url_for('auth.nuevoUsuario') }}">Registrar</a>
        </div>
    </div>

</div>

</body>
</html>