<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Nuevo Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/usuarioContraseña.css', v=1) }}">
    
</head>

<body>

    <img src="{{ url_for('static', filename='img/byteers_logo.png') }}" alt="Logo compañia" class="logobyteers">

    <div class="bg-circles" aria-hidden="true"></div>
    <div class="bg-circles2" aria-hidden="true"></div>

    <div class="card-wrap">
        <div class="card" role="main">

            <div class="card-logos">
                <img src="{{ url_for('static', filename='img/logoAVT_vector.png') }}" alt="Logo AVT">
                <img src="{{ url_for('static', filename='img/fmvb_logo.jpg') }}" alt="Logo FMVB">
            </div>

            <h2>Nuevo Usuario</h2>

            <label>Nombre completo</label>
            <div class="input-box">
                <input type="text" placeholder="Nombre completo">
            </div>

            <label>Correo electrónico</label>
            <div class="input-box">
                <input type="email" placeholder="Correo electrónico">
            </div>

            <label>Contraseña</label>
            <div class="input-box">
                <input id="password" type="password" placeholder="Contraseña">
                <div class="eye" onclick="togglePass()">👁</div>
            </div>

            <label>Confirmar contraseña</label>
            <div class="input-box">
                <input id="password2" type="password" placeholder="Confirmar contraseña">
            </div>

            <div class="btn-wrap">
                <button type="button" onclick="window.location.href='iniciarSesion.html'">Registrarse</button>
            </div>

        </div>
    </div>

    <script>
        function togglePass() {
            const p = document.getElementById('password');
            p.type = (p.type === 'password') ? 'text' : 'password';
        }
    </script>

</body>

</html>